[Desktop Entry]
Encoding=UTF-8
Name=Florence Virtual Keyboard
Name[fr]=Clavier virtuel Florence
Comment=Florence Virtual Keyboard
Comment[fr]=Clavier virtuel Florence
Exec=florence
Terminal=false
Type=Application
Icon=florence.svg
Categories=Application;Accessibility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=florence
X-GNOME-Bugzilla-Component=general
StartupNotify=true

